
#loginApp {
    display:flex;
    flex-direction:row;
    width:100%;
    margin:0 auto;
}

.pageInfo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}   

#formLoginUser {
    margin: 0 auto;
    min-width: 500px;
}

#formLoginUser  .titleCard {
    text-transform:uppercase;
    text-align:center;
    border-bottom: 3px solid #000; 
    line-height: 1rem;
    margin: 10px 0 40px;     
}

#formLoginUser  span { 
    background:#fff; 
    padding:0 15px; 
    font-size: 30px !important;
    font-weight: 500;
    position:relative; 
    top:12px;
}

#formLoginUser label {  
    display:block;
    font-size: 21px;
    text-transform:uppercase;

}

#formLoginUser input, #formLoginUser button {
    width: 100%;
} 

#formLoginUser input.form-error {
    background-color: rgba(220, 53, 69, 0.1);
    border-bottom: 2px solid rgba(220, 53, 69, 1);
}

#formLoginUser button {
    border:0;
    background-color:  #198754;
    color: #FFF;
    padding: 10px;
    border-radius:10px;
    text-transform:uppercase;
    transition:all 0.8s;
}

#formLoginUser  button:hover {
    cursor:pointer;
    color: #198754;
    background-color:#fafafa;
    border:#198754 1px solid; 
}

#loginApp .stickInfographic {
    position:fixed;
    width: 100%;
    margin-left: 50%;
}

#loginApp .stickInfographic li {
    vertical-align: middle;
    list-style-type: none;
    margin-bottom: 2.5rem;
}

#loginApp .stickInfographic li:nth-child(even) .icon  {
    margin-left:120px !important;
} 

#loginApp .stickInfographic .icon  {
    border-radius: 50%;
    position:relative;
    color: rgba(25, 135, 84, 0.8);
    display:inline-flex;
    margin: 15px 20px 0 25px;
    position:relative;
    top:18px;
}

#loginApp .stickInfographic li span {
    vertical-align: middle;
    list-style-type: none;
    font-size: 1.5rem !important;
    text-transform:uppercase;
    font-weight:200;
}

